*{
    cursor: url('../img/hammer.png') 50 50, pointer
}

.game{
    position: relative;
    background-color: green;
    width: 99vw;
    height: 98vh;
    font-family: sans-serif;
}

.mole{
    position: absolute;
    width: 10vh;
    height: 10vh;
    background-image: url('../img/mole.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.points{
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1.5em;
    color: white;
}

.time{
    position: absolute;
    right: 1em;
    top: 2.5em;
    font-size: 1.5em;
    color: white;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    z-index: 99999;
    max-width: 90vw;
    border-radius: 5px;
}

.modal button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.end-modal{
    display: none;
}
